@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #1d1823;
  --scroll-color: #2c2435;
}

html {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 7px;
  
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  border-radius: 50px;
}
